<robot name="cracker_box">
	<link name="base_link">
		<visual>
			<origin xyz="0.01420505447388014 -0.10220486833098277 -0.01485355781018036" rpy="0.0 1.57079632679 1.57079632679" />
			<geometry>
				<mesh filename="cracker_box/textured.obj" scale="1 1 1" />
			</geometry>
			<material name="texture">
				<color rgba="1.0 1.0 1.0 1.0" />
			</material>
		</visual>
		<collision>
			<origin xyz="0.01420505447388014 -0.10220486833098277 -0.01485355781018036" rpy="0.0 1.57079632679 1.57079632679" />
			<geometry>
				<mesh filename="cracker_box/textured_vhacd.obj" scale="1 1 1" />
			</geometry>
		</collision>
		<inertial>
			<mass value="0.411" />
			<inertia ixx="1e-3" ixy="0.0" ixz="0.0" iyy="1e-3" iyz="0.0" izz="1e-3" />
		</inertial>
	</link>
</robot>
